
.title{
    font-size: 23;
    padding-right: 2em;
}

.subinfo{
    padding-left: 1em;
    font-size: 13;
}

.subinfo p{
    margin: .6em;
}

.post{
    padding-bottom: .15em;
}

.post p{
        line-height: .2em;
}

.post br{
    line-height: 4px;
}

#commentCount{
    font-size: 10;
   
}

#postHR{
    margin-top: 1.2em; 
}

#tagInTable{
    font-size: 12;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #E58800; 
    padding-left: .4em;
    text-decoration: none;   
}
