.content{
    background-color: black;
    color: white;
    font-size: 20;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1em;
    padding-bottom: 2em;
}

html, body{
    margin: 0px;
    background-color: whitesmoke;
}

h2{
    font-size: 30;
}