{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wikiblog/index.css' %}" />

<div class="content">
    <h1 align="center">Welcome to the Social Experiment</h1>

    <p>You have the freedom to upload and share information, free from oversight from the government and corporations. It is only accessible within the wifi range, and you stay completely anonymous.</p>
    <p align="center">Dare to share?</p>
</div>
    <p> <h2 align="center"><a href="homepage">Enter the Chamber</a></h2></p>
